<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
</head>

<body ng-app="fprecrutation">
    <div class="container" ng-controller="assetsController">
        <div ng-if="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>
        <div class="panel-group">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-8">
                        <h3>Stocks</h3>
                    </div>
                    <div class="col-md-2">
                        Logged in as <strong>{{ username }}</strong>
                    </div>
                    <div class="col-md-2">
                        <a href="#/logout" class="btn btn-danger btn-lg">
                            <span class="glyphicon glyphicon-off"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="col-md-6">
                            <div class="panel-heading"><h3>Stock prices</h3></div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>Value</th>
                                            <th class="col-md-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="stockPrice in stockPrices">
                                            <td>{{stockPrice.Code}}</td>
                                            <td>{{stockPrice.Price}}</td>
                                            <td>
                                                <button type="button"
                                                        ng-confirm-click="Are you sure to buy {{ stockPrice.Unit }} untit of company {{ stockPrice.Name }} stocks with cost for all {{ stockPrice.Unit * stockPrice.Price }} PLN?"
                                                        confirmed-click="buy($event, stockPrice.Code, stockPrice.Price, stockPrice.Unit)"
                                                        class="btn btn-info custom-width">Buy</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-heading"><h3>My wallet</h3></div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>Unit Price</th>
                                            <th>Amount</th>
                                            <th>Value</th>
                                            <th class="col-md-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="userAsset in user.assetWallet">
                                            <td>{{userAsset.companyCode}}</td>
                                            <td>{{ stockPricesMap.get(userAsset.companyCode).price }}</td>
                                            <td>{{userAsset.stockAmount}}</td>
                                            <td>{{stockPricesMap.get(userAsset.companyCode).price * userAsset.stockAmount}}</td>
                                            <td>
                                                <button type="button"
                                                        ng-confirm-click="Are you sure to sell {{ stockPricesMap.get(userAsset.companyCode).amount }} untit of company {{ userAsset.companyCode }} stocks with cost for all {{ stockPricesMap.get(userAsset.companyCode).amount * stockPricesMap.get(userAsset.companyCode).price }} PLN?"
                                                        confirmed-click="sell($event, userAsset.companyCode)" class="btn btn-success custom-width">Sell</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-heading">
                                <strong>Available money: {{ user.money }} PLN</strong>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="lib/js/angular.min.js"></script>
    <script type="text/javascript" src="lib/js/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="js/fprecrutation.js"></script>
    <script type="text/javascript" src="js/assetsController.js"></script>

</body>
</html>